<div class="row">
	<div id="results-container" class="col-md-12">
		{{#each results}}
			{{> userResult name=name email=email skillset=skillset }}
		{{/each}}
		{{#if userResults}}						
		{{/if}}
	</div>
</div>