<div class="media" style="padding: 10px; border: 1px solid #e5e5e5">
	<div class="media-left">
		<img class="media-object" width="64px" height="64px" src="http://www.sheffield.com/wp-content/uploads/2013/06/placeholder.png" alt="" style="border-radius: 100%">
	</div>
	<div class="media-body">
		<div class="media-heading" style="font-size: 25px">{{name}}</div>
		<div class="media-heading">{{email}}</div>
		<div class="media-heading">{{skillset}}</div>
	</div>
</div>