<h1>Hello, welcome to DevSideProjects</h1>
<form action="/" method="post">
  Name:<br>
  <input type="text" name="name" value="annon"><br>
  Password:<br>
  <input type="text" name="password" value = ""><br>
  <input type="submit" value="Login">
</form>

<p>Go back home {{name}}</p>
<a href="localhost:3000">Reload</a>