<h1>Hello, welcome to DevSideProjects</h1>
<form action="/" method="post">
  Name:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="password" name="password" value = ""><br>
  <input type="submit" name="button" value="login">
</form>

<a href="/register">Register</a>