<h1>Profile</h1>
<form action="/profile" method="post">
  Langauges:<br>
  <input type="checkbox" name="language" value="python"> python <br>
  <input type="checkbox" name="language" value="java"> java <br>
  <input type="checkbox" name="language" value="c"> c/c++ <br>

  Frameworks:<br>
  <input type="checkbox" name="framework" value="react.js"> react.js <br>
  <input type="checkbox" name="framework" value="node.js"> node.js <br>
  <input type="checkbox" name="framework" value="express.js"> express.js <br>

  Databases:<br>
  <input type="checkbox" name="database" value="mongodb"> MongoDB <br>
  <input type="checkbox" name="database" value="mysql"> MySQL <br>

  <input type="submit" name="button" value="save"><br>
</form>