<h1>Register</h1>
<p id="status"></p>
<form action="/register" method="post">
  Username:<br>
  <input type="text" name="username"><br>
  Email:<br>
  <input type="email" name="email"><br>
  Password:<br>
  <input type="password" name="password"><br>
  Confirm Password:<br>
  <input type="password" name="confirm"><br>
  Address:<br>
  Street:<br>
  <input type="text" name="street"><br>
  City:<br>
  <input type="text" name="city"><br>
  Province:<br>
  <input type="text" name="province"><br>
  <input type="submit" name="button" value="Register">
</form>