<div class="element-container">
	<div class="row" style="border: 1px solid black; margin: 20px auto;">
		<div class="col-md-3">
			<img width="30px" height="30px" src="http://www.sheffield.com/wp-content/uploads/2013/06/placeholder.png" alt="">
		</div>
		<div class="col-md-9">
			<p>Name</p>
			<p>Email</p>
			<p>Skillset</p>
		</div>
	</div>	
</div>