<h3>My Google Maps Demo</h3>
<div id="map" style="height:500px;width:100%"></div>
<script>
  function initMap() {
    var uluru = {lat: {{lat}}, lng: {{long}} };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR9CYAbTv-HcIOFADymm_1103Q_vQYcYg&callback=initMap">
</script>