<a href="/profile">Edit your profile</a>

<h3>Search for Users</h3>
<form action="/search" method="post">
  Max Distance (km):<br>
  <input type="text" name="maxDistance" value=0><br>
  <input type="submit" name="button" value="Search"><br>

  <input type="checkbox" name="language" value="python"> python <br>
  <input type="checkbox" name="language" value="java"> java <br>
  <input type="checkbox" name="language" value="c"> c/c++ <br>

  <input type="checkbox" name="framework" value="react.js"> react.js <br>
  <input type="checkbox" name="framework" value="node.js"> node.js <br>
  <input type="checkbox" name="framework" value="express.js"> express.js <br>

  <input type="checkbox" name="database" value="mongodb"> MongoDB <br>
  <input type="checkbox" name="database" value="mysql"> MySQL <br>

</form>

<div id="map" style="height:500px;width:100%"></div>
<script>
  function initMap() {
    var uluru = {lat: {{lat}}, lng: {{long}} };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR9CYAbTv-HcIOFADymm_1103Q_vQYcYg&callback=initMap">
</script>