<h2 style="text-align: center">Search for developers to join your project!</h2><br><br>
<div class="row">
    <div id="results-container" class="col-md-8 col-md-offset-2">    
    </div>
    <div class="col-md-7">
        <div class="panel panel-login" style="padding: 20px">
            <label class="labelsClass" for="map">Location</label>
            <div id="map" style="height:400px;width:100%"></div>    
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-login" style="padding: 20px; height: 465px">
            <form action="/search" method="post">
                <div class="form-group">
                    <label class="labelsClass" for="maxDistance">Max Distance (km):</label><br><br>
                    <input type="text" name="maxDistance" id="maxDistance" placeholder="e.g. 20" class="form-control required"><br>
                </div>

                <label class="labelsClass" for="inlineCheckbox1"><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span>    Languages</label><br><br>
                <div id="languages" class="row">
                    <div class="col-sm-4">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="language" id="inlineCheckbox1" value="python"> Python
                        </label>
                    </div>            
                    <div class="col-sm-4">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="language" id="inlineCheckbox2" value="java"> Java
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="language" id="inlineCheckbox3" value="c"> C/C++
                        </label>
                    </div>
                </div>
                <br><br>
                
                <label class="labelsClass" for="inlineCheckbox4"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>    Frameworks</label><br><br>
                <div id="frameworks" class="row">
                    <div class="col-sm-4">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="framework" id="inlineCheckbox4" value="reactjs"> React.js
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="framework" id="inlineCheckbox5" value="nodejs"> Node.js
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="framework" id="inlineCheckbox6" value="expressjs"> Express.js
                        </label>
                    </div>
                </div>
                <br><br>

                <label class="labelsClass" for="inlineCheckbox7"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>    Databases</label><br><br>
                <div id="databases" class="row">
                    <div class="col-sm-4">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="database" id="inlineCheckbox7" value="mongodb"> MongoDB
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="database" id="inlineCheckbox8" value="mysql"> MySQL
                        </label>
                    </div>
                </div>
                <br><br>
            </form>
            <input id="searchSubmit" style="width:100%"type="submit" class="btn btn-primary" name="button" value="Search">  
        </div>
    </div>    
  </div>
  
  <div>
    <a href="/profile">Edit your profile</a>
  </div>
  <div id="person-template" style="visibility:hidden;">
    <div class="media panel panel-login" style="width: 100%; padding: 10px;">
      <div class="media-left">
        <img class="media-object" width="64px" height="64px" src="http://www.sheffield.com/wp-content/uploads/2013/06/placeholder.png" alt="" style="border-radius: 100%">
      </div>
      <div class="media-body">
        <div class="media-heading person-username" style="font-size: 25px"></div>
        <div class="media-heading person-email"></div>
        <div class="media-heading person-skillset"></div>
      </div>
      <div class="media-right">
        <a class="closeResult">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="margin-left: 210px"></span>
        </a>        
        <input class="media-heading btn btn-primary" value="Invite"> 
      </div>
    </div>    
  </div>  
</div>



<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR9CYAbTv-HcIOFADymm_1103Q_vQYcYg&callback=initMap">
</script>
<script>
    $(document).ready(function() {
        $(".closeResult").click(function() {
            
        });
        $('#searchSubmit').click(function() {
           event.preventDefault();
           var maxDistance = $('#maxDistance').val();
           var languages = [];
           $('#languages input:checked').each(function() {
                languages.push($(this).attr('value'));
           });
           var frameworks = [];
           $('#frameworks input:checked').each(function() {
                frameworks.push($(this).attr('value'));
           });
           var databases = [];
           $('#databases input:checked').each(function() {
                databases.push($(this).attr('value'));
           });
           $.ajax({
              url: '/search',
              data: {
                maxDistance: maxDistance,
                language: languages,
                framework: frameworks,
                database: databases                 
              },
              error: function() {
                 $('#results-container').html('<p>An error has occurred</p>');
              },
              dataType: 'json',
              success: function(data) {
                for(var i = 0; i < data.length; i++) {
                    var template = $.parseHTML($("#person-template").html());
                    $('#results-container').append(template);                    
                    $(".person-username", template).text(data[i].username);
                    $(".person-email", template).text(data[i].email);
                    $(".person-skillset", template).text(data[i].skillset.languages[0]);
                    $(template).css("visibility", "visible");
                }
                $("#person-template").remove();                 
              },
              type: 'POST'
           });
        });

    });
    function initMap() {
            var uluru = {lat: {{lat}}, lng: {{long}} };
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 13,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
        } 
</script>
<style>
    body {
        background-color: #ecf0f1;
    }
    .labelsClass {
        font-size: 16px;
    }
    .checkbox-inline {
        font-size: 16px;
    }
</style>